<script>
    $().ready(function() {
        CheckGDPR();
    });

    function CheckGDPR() {
        var url = "@Html.Raw(ViewData["GDPRUrl"])";

        if (url) {
            window.open(url);
        }
    }
</script>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="info">
            @Html.Raw(ViewData["MainText"])
        </div>
    </div>
</div>
@if (ViewData["VoucherText"] != null)
{
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="info">
            <div class="alert info with-icon" role="alert">
                <svg class="icon" preserveAspectRatio="none">
                    <use class="alert__icon" xlink:href="~/Assets/eContracting/gfx/icon/svg.svg#bubble-info" />
                </svg>
                <p>@Html.Raw(ViewData["VoucherText"])</p>
            </div>
        </div>
    </div>
</div>
}

@Html.Action("DocumentPanel", "eContracting", new { IsAccepted = false })

<script>
/* Message component messages from Back-end */
    var messages = {
        appUnavailable: [
            '<h3>Nedostupnost aplikace</h3>',
            '<p>@Html.Raw(ViewData["AppNotAvailable"])</p>'
        ],
        signFileError: ['<div class="alert error mt-0" role="alert"><p>@Html.Raw(ViewData["SignFailure"])</p></div>']
    }
</script>
