@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Content.Modal_window
@using eContracting.Kernel.GlassItems.RenderingParameters.Modal_window
@using eContracting.Kernel.Models
@using Sitecore.Data.Items

@model MW01DataSource

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="~/Assets/eContracting/css/popup.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="form-background">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-10 col-md-offset-1">
                        @using (Html.BeginForm("Accept", "eContracting", FormMethod.Post, new { id = "offer", @class = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="list list-documents loading">
                                <a class="check-all" href="#">@ViewData["SelectAll_Text"]</a>
                            </ul>
                            <button type="button" class="button button-submit">@ViewData["Accept"]</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalConfirmYesNo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="modalFormGeneral" style="display: none; padding-right: 15px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">@Html.Sitecore().Field("Title", Model.Item)</h4>
            </div>
            <div class="modal-body">@Html.Sitecore().Field("Text", Model.Item)</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnNoConfirmYesNo">
                    @Html.Sitecore().Field("Cancel_Text", Model.Item)
                </button>
                <button type="button" class="btn btn-primary" data-submit="#modalConfirmYesNo" id="btnYesConfirmYesNo">
                    @Html.Sitecore().Field("Accept_Text", Model.Item)
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var offerPageOptions = {
        doxReadyUrl: '@Url.Content("~/Areas/eContracting/Services/DoxReady.ashx?id")=@Model.ClientId',
        isAgreed: @Model.IsAccepted.ToString().ToLower(),
        getFileUrl: '@Url.Content("~/Areas/eContracting/Services/GetFile.ashx?file=")'
    }

    $("#offer").ready(function () {
        $("#offer .button-submit").click(function (event) {
            event.preventDefault();
            var $confirm = $("#modalConfirmYesNo");
            var $form = $("#offer");
            $confirm.modal('show');
            $("#btnYesConfirmYesNo").off('click').click(function () {
                $form.submit();
                $confirm.modal("hide");
            });
            $("#btnNoConfirmYesNo").off('click').click(function () {
                $confirm.modal("hide");
            });
        });
    });
</script>
