@using eContracting.Kernel.Models
@model DocumentPanelModel

<div class="row">
	<div class="col-sm-12 col-md-10 col-md-offset-1">
		<div class="form-background">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-10 col-md-offset-1">
						<div id="offer" class="form">
							<ul class="list list-documents loading">
								<a class="check-all" href="#">Označit vše</a>
							</ul>
							@Html.ActionLink(ViewData["Accept"].ToString(), "Accept", "eContracting", new { @class = "button button-submit" })
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
    var offerPageOptions = {
        doxReadyUrl: '@Url.Content("~/Areas/eContracting/Services/DoxReady.ashx?id")=@Model.ClientId',
        isAgreed: @Model.IsAccepted.ToString().ToLower(),
        getFileUrl: '@Url.Content("~/Areas/eContracting/Services/GetFile.ashx?file=")'
    }

    @*function CheckIfReady() {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Areas/eContracting/Services/DoxReady.ashx?id")=@Model.ClientId',
            dataType: "json",
            timeout: 30000,
            error: function () {
                window.location.href = "/404"
            },
            success: function (documents) {
                var agreed = @Model.IsAccepted.ToString().ToLower();
                window.documentsReceived(documents, { agreed: agreed });
            },
        });
    }

    $(document).ready(function () {
        CheckIfReady();
    });

    window.handleClick = function (e, key) {
        e.preventDefault();
        $.post("@Url.Content("~/Areas/eContracting/Services/GetFile.ashx?file=")" + key, null);
        window.location.href = "@Url.Content("~/Areas/eContracting/Services/GetFile.ashx?file=")" + key;
    }*@
</script>