@using eContracting.Kernel
@using eContracting.Kernel.Models
@using eContracting.Kernel.GlassItems.Pages
@model EContractingWelcomeTemplate

@if (Sitecore.Context.PageMode.IsNormal)
{
    using (Html.BeginForm("WelcomeSubmit", "Welcome", new { guid = Request.QueryString["guid"] }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="info">
                    @if (Model.OfferType == OfferTypes.Retention)
                    {
                        @Html.Sitecore().Placeholder("eContractingWelcomeRetentionPH")
                    }
                    else if (Model.OfferType == OfferTypes.Acquisition)
                    {
                        @Html.Sitecore().Placeholder("eContractingWelcomeAcquisitionPH")
                    }
                    else
                    {
                        @Html.Sitecore().Placeholder("eContractingWelcomePH")
                    }
                    <div class="form">
                        <input type="submit" class="button button-submit" id="mainBtn" value="@Model.ButtonText" />
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="info">
                <p><strong>Výchozí texty:</strong></p>
                @Html.Sitecore().Placeholder("eContractingWelcomePH")
                <p><strong>Texty pro retence:</strong></p>
                @Html.Sitecore().Placeholder("eContractingWelcomeRetentionPH")
                <p><strong>Texty pro akvizice:</strong></p>
                @Html.Sitecore().Placeholder("eContractingWelcomeAcquisitionPH")
                <div class="form">
                    <input type="submit" class="button button-submit" id="mainBtn" value="@Model.ButtonText" />
                </div>
            </div>
        </div>
    </div>
}
