@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Models
@model ButtonsViewModel

<div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-7 col-xl-6">
        @if (Model.ShowRegistrationButtons)
        {
            <div class="text-center mb-4">
                <a href="@Model.ButtonNewAccountUrl" class="btn btn-primary btn-block">@Model.Datasource.ButtonNewAccountLabel</a>
            </div>

            <div class="text-center mb-4">
                <div class="d-flex v-center">
                    <a href="@Model.ButtonLoginAccountUrl" class="btn btn-outline-primary btn-block">@Model.Datasource.ButtonLoginAccountLabel</a>
                    @if (Model.HasTooltip)
                    {
                    <div class="tooltip-icon-wrapper js-tooltip" tabindex="0" title="@Model.Datasource.ButtonLoginAccountTooltip">
                        <svg class="icon fill-orange icon-tooltip" preserveAspectRatio="none" width="30" height="30" focusable="false" aria-hidden="true">
                            <use xlink:href="#info-inversed-circle"></use>
                        </svg>
                    </div>
                    }
                </div>
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.ButtonDashboardUrl))
        {
            <div class="text-center mb-4">
                <a href="@Model.ButtonDashboardUrl" class="btn btn-primary btn-block">@Model.Datasource.ButtonDashboardLabel</a>
            </div>
        }
    </div>
</div>