@using System.Linq
@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Kernel.GlassItems.Pages
@using eContracting.Website.Areas.eContracting2.Models
@model OfferViewModel
@*TODO: implement GDPR
<script>
    $().ready(function() {
        CheckGDPR();
    });

    function CheckGDPR() {
        var url = "@Html.Raw(Model.Datasource.GDPRUrl)";

        if (url) {
            window.open(url);
        }
    }
</script>*@

<div class="row">
    <div class="col-12">
        @Html.Partial("/Areas/eContracting2/Views/Shared/Steps.cshtml", Model.Steps)
        <div class="text-center">
            <h1>@Model.PageTitle</h1>
            <div>@Html.Raw(Model.MainText)</div>
        </div>
        <div id="app"></div>
    </div>
</div>

@*<script>
  var appConfigExample = {
    view: 'Offer',
    offerUrl: '/api/offer/new',
    timeout: 0, // 0 znamená žádný timeout, případně stačí tento atribut vůbec neuvést
    acceptOfferUrl: '/api/offer', // TODO:
    getFileUrl: '/',
    thumbnailUrl: '/api/document-image',
    signFileUrl: '/api/sign-document',
    uploadFileUrl: '/api/upload-document',
    removeFileUrl: '/api/remove-document',
    errorPageUrl: '/error',
    thankYouPageUrl: '/thank-you',
    allowedContentTypes: ['image/png', 'image/jpeg', 'application/pdf'],
    maxFileSize: 1695293,
    labels: {
      appUnavailableTitle: 'Nedostupnost aplikace',
      appUnavailableText: 'Omlouváme se Vám za nedostupnost aplikace. Příčinou může být právě probíhající odstávka. Prosím opakujte akci později.',
      acceptAll: 'Označit vše',
      acceptOfferTitle: 'Potvrzení nabídky',
      acceptOfferHelptext: 'Stisknutím tlačítka Akceptuji potvrdíte souhlas s přechodem na novou smlouvu Relax u innogy.',
      submitBtn: 'Akceptuji',
      signatureBtn: 'Podepsat',
      signatureEditBtn: 'Upravit podpis',
      signatureModalTitle: 'Podepsat dokument',
      signatureModalText: 'Podepište se prosím níže:',
      signatureModalConfirm: 'Potvrdit',
      signatureModalClear: 'Smazat',
      signatureModalError: 'Dokument se nepodařilo podepsat, zkuste to prosím znova.',
      signatureModalThumbnailAlt: 'Náhled dokumentu k podepsání',
      signaturePadAlt: 'Zde je podpisová plocha pro váš podpis',
      selectFile: 'Vyberte dokument',
      selectFileHelpText: 'Sem přetáhněte jeden i více souborů nebo',
      removeFile: 'Odebrat dokument',
      fileSize: 'Velikost dokumentu',
      selectedFiles: 'Vybrané dokumenty',
      rejectedFiles: 'Nevyhovující dokumenty',
      uploadFile: 'Nahrát dokument',
      captureFile: 'Vyfotit a nahrát',
      invalidFileTypeError: 'Dokument má špatný formát',
      fileExceedSizeError: 'Dokument je příliš velký',
      acceptanceModalTitle: 'Potvrzení akceptace',
      acceptanceModalText: '<p style=\"text-align: center;\">Po konečn&yacute; a z&aacute;vazn&yacute; projev Va&scaron;&iacute; vůle, pros&iacute;m, stiskněte tlač&iacute;tko \"Potvrdit\".</p>\n<p style=\"text-align: center;\">Pokud si přejete vr&aacute;tit se zpět, stiskněte tlač&iacute;tko \"Storno\".</p>',
      acceptanceModalAccept: 'Potvrdit',
      acceptanceModalCancel: 'Storno',
      acceptanceModalError: 'Nabídku se nepodařilo akceptovat, zkuste to prosím znova.',
      acceptanceModalSummary: 'Souhrn nabídky, produktů a služeb',
      modalClose: 'Zavřít dialog',
      productBenefits: 'Výhody služby',
      accepted: 'Akceptováno',
      notAccepted: 'Neakceptováno',
    }
    };
</script>*@
<script>
  var appConfig = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
</script>
