@using System.Linq
@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Website.Areas.eContracting2.Models
@model OfferViewModel
@*TODO: implement GDPR
<script>
    $().ready(function() {
        CheckGDPR();
    });

    function CheckGDPR() {
        var url = "@Html.Raw(Model.Datasource.GDPRUrl)";

        if (url) {
            window.open(url);
        }
    }
</script>*@
@{ 
    Model.Timeout = 0;
}
<div class="row">
    <div class="col-12">
        @Html.Partial("/Areas/eContracting2/Views/Shared/Steps.cshtml", Model.Steps)
        <div class="text-center">
            <h1>@Model.PageTitle</h1>
            <div>@Html.Raw(Model.MainText)</div>
        </div>
        <div id="app"></div>
    </div>
</div>

<script>
  var appConfig = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented));
</script>
@if (!string.IsNullOrEmpty(Model.AbMatrixCombinationPixelUrl))
{
    <img src="@Model.AbMatrixCombinationPixelUrl" alt="pixel" hidden aria-hidden="true" />
}