@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Website.Areas.eContracting2.Models
@using Newtonsoft.Json

@inherits GlassView<ThankYouViewModel>

@Html.Partial("/Areas/eContracting2/Views/Shared/Steps.cshtml", Model.Steps)
<div class="text-center">
    @Html.Raw(Model.MainText)
</div>
<div class="row justify-content-center">
    @if (Model.Datasource.Link1 != null)
    {
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="box box--action bg--green text-center">
                <p>
                    <a runat="server" href="@Model.Datasource.Link1.Url" class="box__link text-white font-weight-bold" target="_blank">@Model.Datasource.Link1.Text</a>
                    <svg class="icon d-block mx-auto mt-3 fill-white" preserveAspectRatio="none" width="32" height="32" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow-right-up"></use>
                    </svg>
                </p>
            </div>
        </div>
    }
    @if (Model.Datasource.Link2 != null)
    {
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="box box--action bg--orange text-center">
                <p>
                    <a runat="server" href="@Model.Datasource.Link2.Url" class="box__link text-white font-weight-bold" target="_blank">@Model.Datasource.Link2.Text</a>
                    <svg class="icon d-block mx-auto mt-3 fill-white" preserveAspectRatio="none" width="32" height="32" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow-right-up"></use>
                    </svg>
                </p>
            </div>
        </div>
    }
    @if (Model.Datasource.Link3 != null)
    {
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="box box--action bg--blue-green-light text-center">
                <p>
                    <a runat="server" href="@Model.Datasource.Link3.Url" class="box__link text-white font-weight-bold" target="_blank">@Model.Datasource.Link3.Text</a>
                    <svg class="icon d-block mx-auto mt-3 fill-white" preserveAspectRatio="none" width="32" height="32" focusable="false" aria-hidden="true">
                        <use xlink:href="#arrow-right-up"></use>
                    </svg>
                </p>
            </div>
        </div>
    }
</div>

<script>
    // Disable going back after submission
    function push() {
        history.pushState(null, document.title, location.href);
    }

    var i = 0;
    while (i++ < 10) push();

    window.addEventListener('popstate', push);
</script>

<script>
dataLayer.push(
{
    'event': 'gaEvent',
    'gaEventData': @JsonConvert.SerializeObject(Model.ScriptParameters)
});
</script>
