@using Glass.Mapper.Sc.Web.Mvc
@using eContracting.Website.Areas.eContracting2.Models
@using Newtonsoft.Json

@model ThankYouViewModel

@Html.Partial("/Areas/eContracting2/Views/Shared/Steps.cshtml", Model.Steps)

<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        @Html.Raw(Model.MainText)
    </div>
</div>
<div class="row justify-content-center">
    @Html.Sitecore().Placeholder("eContracting2-boxes")
</div>
@if (!string.IsNullOrEmpty(Model.AbMatrixCombinationPixelUrl))
{
    <img src="@Model.AbMatrixCombinationPixelUrl" alt="pixel" hidden aria-hidden="true" />
}
<script>
    // Disable going back after submission
    function push() {
        history.pushState(null, document.title, location.href);
    }

    var i = 0;
    while (i++ < 10) push();

    window.addEventListener('popstate', push);
</script>

<script>
dataLayer.push(
{
    'event': 'gaEvent',
    'gaEventData': @Html.Raw(JsonConvert.SerializeObject(Model.ScriptParameters))
});
</script>
