@using Sitecore.Mvc.Analytics.Extensions
@using eContracting.Website
@using eContracting.Website.Areas.eContracting2.Models
@model LayoutViewModel
<!DOCTYPE html>

<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
    <title>@Model.PageMetaTitle</title>

    @if (Model.GoogleTagManagerShow)
    {
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@Model.GoogleTagManagerKey');
        </script>
    }

    <link type="image/x-icon" rel="shortcut icon" href="~/Assets/eContracting2/gfx/favicon/blob.png" />
    <link href="~/Assets/eContracting2/gfx/favicon/57x57.png" sizes="57x57" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/114x114.png" sizes="114x114" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/72x72.png" sizes="72x72" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/144x144.png" sizes="144x144" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/60x60.png" sizes="60x60" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/120x120.png" sizes="120x120" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/76x76.png" sizes="76x76" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/152x152.png" sizes="152x152" rel="apple-touch-icon-precomposed" />
    <link href="~/Assets/eContracting2/gfx/favicon/196x196.png" sizes="196x196" type="image/png" rel="icon" />
    <link href="~/Assets/eContracting2/gfx/favicon/96x96.png" sizes="96x96" type="image/png" rel="icon" />
    <link href="~/Assets/eContracting2/gfx/favicon/32x32.png" sizes="32x32" type="image/png" rel="icon" />
    <link href="~/Assets/eContracting2/gfx/favicon/16x16.png" sizes="16x16" type="image/png" rel="icon" />
    <link href="~/Assets/eContracting2/gfx/favicon/128x128.png" sizes="128x128" type="image/png" rel="icon" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta content="Innogy" name="application-name" />
    <meta content="#FFFFFF" name="msapplication-TileColor" />
    <meta content="~/Assets/eContracting2/gfx/favicon/144x144.png" name="msapplication-TileImage" />
    <meta content="~/Assets/eContracting2/gfx/favicon/70x70.png" name="msapplication-square70x70logo" />
    <meta content="~/Assets/eContracting2/gfx/favicon/150x150.png" name="msapplication-square150x150logo" />
    <meta content="~/Assets/eContracting2/gfx/favicon/310x150.png" name="msapplication-wide310x150logo" />
    <meta content="~/Assets/eContracting2/gfx/favicon/310x310.png" name="msapplication-square310x310logo" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="@Html.Assets().PathWithHash("/assets/eContracting2/css/econtracting.min.css")"/>
    @Html.Sitecore().VisitorIdentification()
</head>
<body data-sprite="@Html.Assets().PathWithHash("/assets/eContracting2/gfx/icon/sprite.svg")">
    <script>!function () { var e = new XMLHttpRequest; e.open("GET", document.body.dataset.sprite, !0), e.send(), e.onload = (function () { var t = document.createElement("div"); t.style.display = "none", t.innerHTML = e.responseText, document.body.insertBefore(t, document.body.childNodes[0]) }) }();</script>
    @Html.Sitecore().Placeholder("eContracting2Top")
    <main class="main">
        <div class="container">
            @Html.Sitecore().Placeholder("eContracting2Main")
        </div>
    </main>
    @Html.Sitecore().Placeholder("eContracting2Bottom")
    <script src="@Html.Assets().PathWithHash("/assets/eContracting2/js/econtracting.bundle.js")"></script>

    @if (Model.GoogleTagManagerShow)
    {
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@Model.GoogleTagManagerKey" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }

    @if (!Sitecore.Context.PageMode.IsNormal)
    {
        <style type="text/css">
            iframe.scFixedRibbon {
                position: unset;
            }
            footer {
                padding-top: 25vh;
            }
        </style>
    }
</body>
</html>